PORT=8000
CORS_ORIGIN=*
ACCESS_TOKEN_SECRET=your_key
ACCESS_TOKEN_EXPIRY=1d
REFRESH_TOKEN_SECRET=your_key
REFRESH_TOKEN_EXPIRY=10d
MONGODB_URI=mongodb+srv://dushyantDB:<YOUR PASSWORD>@cluster0.x67l3zg.mongodb.net/